

.transcedentalSplatter-container {
  width: 100%;
  background-image: url('https://i.imgur.com/bcwNM3N.jpg');
  background-size: cover;
  background-repeat: none;
  padding: 5% 7%;
  margin: 0 auto;
}





