
#contactform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#name-input {
  -webkit-appearance: none;
  border: 1px solid rgba(0,0,0,0.55);
  font-size: 17px;
  font-weight: 600;
  font-family: 'Poiret One', cursive;

}

#email-input {
  -webkit-appearance: none;
  border: 1px solid rgba(0,0,0,0.55);
  font-size: 17px;
  font-weight: 600;
  font-family: 'Poiret One', cursive;

}

#subject-input {
  -webkit-appearance: none;
  border: 1px solid rgba(0,0,0,0.55);
  font-size: 17px;
  font-weight: 600;
  font-family: 'Poiret One', cursive;

}

#message-input {
  -webkit-appearance: none;
  border: 1px solid rgba(0,0,0,0.55);
  font-size: 17px;
  font-weight: 600;
  font-family: 'Poiret One', cursive;

}

#submit-button {
  -webkit-appearance: none;
  background-color:  rgb(218, 82, 116);  
  box-shadow: 0px 1px 20px -5px rgba(0,0,0,.5);
  color: white; 
  font-size: 20px;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  margin-top: 5%;
  transition: 400ms;
}

#submit-button:hover {
  -webkit-appearance: none;
  transition: 400ms;
  /* background-color:  #27cff1;   */
  box-shadow: 0px 1px 20px -8px rgba(0,0,0,.0);

}

#submit-button:focus {
  outline: 0;
}
#message-input:focus {
  outline: 0;
}
#subject-input:focus {
  outline: 0;
}
#email-input:focus {
  outline: 0;
}
#name-input:focus {
  outline: 0;
}