.main-page-container {
  height: 2000px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}


.name-of-site {
  font-family: "Montserrat", sans-serif;
  border: 2px solid white;
  width: 25%;
  font-weight: 200;
  color: white;
}

.homepage-img {
  width: 100%;
}