.main-page-container {
  height: 2000px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  /* background-image: url('https://i.imgur.com/CeJ8sZc.jpg');
  background-repeat: none;
  background-size: cover; */
}

.bottom-homepage-container {
  
}

.name-of-site {
  font-family: "Montserrat", sans-serif;
  border: 2px solid white;
  width: 25%;
  font-weight: 200;
  color: white;
}

.homepage-img {
  width: 100%;
}




.arrow-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

#link {
  text-decoration: none;
  margin: 0 auto;
}

.arrow {
  -webkit-animation: shake-vertical 18s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  animation: shake-vertical 18s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  margin-top: 0px;
}

/*.arrow-text {
  margin-top: 21%;
  font-family: "Lekton", sans-serif;
  position: absolute;
  -webkit-animation: shake-vertical 13.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  animation: shake-vertical 13.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}*/


@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  80% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  90% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  80% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  90% {
        -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}