
.no-print-header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.unavailable-titles-header-text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  margin-top: 5%;
  margin-bottom: 2%;
  color: black;
  font-weight: 200;
  /* border-top: 2px solid black;
  border-bottom: 2px solid black; */
  width: 45%;
  
}

.unavailable-titles-car-photo {
  margin-top: 2%;
  height: 110px;
  margin-bottom: 5%;
}

.unavailable-titles-container {
  display: flex;
  flex-direction: row;
}

.unavailable-titles-left-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 3%;
}

.titles-links-left-1 {
  text-decoration: none;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  width: 90%;
  padding-left: 1%;
  margin-left: 24%;
  margin-top: 15%;
  margin-bottom: 5%;
    /* -webkit-box-shadow: 0px 1px 26px -5px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 1px 26px -5px rgba(0,0,0,0.41);
  box-shadow: 0px 1px 26px -5px rgba(0,0,0,0.41); */
  height: 80%;
}

.titles-links-left-2 {
  text-decoration: none;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding-left: 1%;
  margin-left: 24%;
  margin-top: -5%;
  margin-bottom: 25%;
  /* border-radius: 15px; */
  /* -webkit-box-shadow: 0px 1px 26px -5px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 1px 26px -5px rgba(0,0,0,0.41);
  box-shadow: 0px 1px 26px -5px rgba(0,0,0,0.41);  */
  height: 80%;
}

.unavailable-titles-divs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-flow: column;
  text-decoration: none;
  width: 93%;
  /* border-top: 2px solid black; */
  /* border-bottom: 1px solid rgb(187, 187, 187); */
  padding-left: 4%;
  padding-top: 1%;
}

/* .last-titles-divs {
  border-bottom: 1px solid white;
} */

.titles-dynamic-info-right {
  margin-right: 10%;
  margin-top: 6%;
  box-shadow: 0px 1px 26px -8px rgba(0,0,0,0.41);
  width: 35%;
  border-radius: 15px;
  height: 670px;
  margin-left: 13%;
  /* border: 3px solid rgb(180, 180, 180); */
  background-image: url('https://i.imgur.com/Ds42QE1.png');
  background-size: cover;
}

.dynamic-info-title-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 27px;
  border-bottom: 1px solid black;
  width: 53%;
  margin: 0 auto;
  padding-top: 5%;
}

/* .title-text-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 27px;
  border-bottom: 1px solid black;
  width: 17%;
  margin: 0 auto;
  margin-top: 14%;
} */

.line-img {
  width: 50%;
}

.titles-cover {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 15px;
  margin-top: -1%;
  color: rgb(95, 94, 94);
  margin-left: 3%;
}
/* 
.counting-cover {
  padding-left: 3%;
} 
*/
.train-ride-cover {
  padding-bottom: -1%;
}


/* .give-me-tomorrow-cover {
  padding-left: 3%;
} */

.fast-lanes-cover {
  margin-left: 2.8%;
}

.the-day-before-cover {
  margin-left: 2.8%;
}

/* .smithsonian-cover {
  padding-left: 3%;
}  */


.titles-name {
  font-family: "Montserrat", sans-serif;  
  font-size: 17px;
  font-weight: 800;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  margin-top: -1%; 
}

.smithsonian-name {
  margin-top: -2.8%
}

.titles-author {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  /* font-style: italic; */
  font-size: 15px;
}

.titles-author-span {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 15px;
  margin-left: 3%;
  padding-top: 1px;
  color: rgb(95, 94, 94);
  text-decoration: none;

}



.unavailable-titles-links {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.titles-name:hover {
  text-decoration: underline;
}

#no-link:hover {
  text-decoration: none;
}

#titles-author-span-id:hover {
  text-decoration: none;
}