.exhibitions-container {
  /* background-image: url('https://i.imgur.com/0ht2wHa.jpg'); */
  height: 1010px;
  width: 100%;
  border-top: black 2px solid;
}


/* .main-page-container {
  background-image: url('https://i.imgur.com/0ht2wHa.jpg');
  height: 610px;
  width: 100%; */
  /* background-repeat: no-repeat; */
  /* background-size: contain;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
} */

/* 
.name-of-site {
  font-family: 'Lato', sans-serif;
  border: 2px solid white;
  margin: 0 auto;
  width: 23%;
  font-weight: 200;
  color: white;
} */