
#clients-car-photo-1 {
  height: 165px;
  margin-bottom: 2%;
  margin-top: 4%;
}

.professional-services-main-title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 7%;
  margin-bottom: 3%;
  color: rgba(0, 0, 0, .8);
  font-weight: 200;
  width: 43%;
  text-align: center;
}