.typings-article {
  height: 1100px;
}

.buy-now-div4 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.paypal-option-button {
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 10%;
  border-top: 1px solid gray;
}